management:
  endpoints:
    web:
      exposure:
        include: health
  health:
    circuitbreakers:
      enabled: 'true'
  endpoint:
    health:
      show-details: always
resilience4j:
  circuitbreaker:
    instances:
      serviceABC:
        automaticTransitionFromOpenToHalfOpenEnabled: false
        failureRateThreshold: 50
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        slidingWindowType: COUNT_BASED
        waitDurationInOpenState: 10000
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3